@model FavouriteMons.Models.Monsters

@{
    ViewData["Title"] = "Create a Monster";
}

<h1>Create a new Monster</h1>

<hr />
<div class="row">
    <form asp-action="Create">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <label asp-for="Element" class="control-label"></label>
        <input asp-for="Element" class="form-control" />
        <div>
            <input id="fileupload" type="file" name="images" multiple accept="image/gif, image/jpeg, image/png">
        </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</div>