@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
  <h1>Monsters</h1>
  <a class="btn btn-primary" asp-controller="Monsters" asp-action="Create">
    Create a monster
  </a>
</div>
<hr />

<div class="container red">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

    @foreach (var monster in ViewBag.monsters)
    {
      <div class="monster">
        <img src="@monster["url"]" />
        <div>
          <strong>@monster["name"]</strong>
        </div>
        <div class="monster-type" style="background-color: @monster["color"]">@monster["element"]</div>
      </div>
    }
  </div>
</div>