@model IEnumerable<FavouriteMons.Models.Monsters>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container red">
    <div class="row
    row-cols-sm-2
    row-cols-md-4
    ">
        <button class="col pokemon" style="
            justify-content: center;
            background-color: lightgreen;
            border: none
        ">
            Add
        </button>
        @foreach (var monster in Model)
        {
            <div class="col pokemon">
                <img src=@monster.ImageUrl />
                <div>
                    <strong>@monster.Name</strong>
                </div>
                <div>@monster.Element</div>
            </div>
        }
    </div>
</div>