:root {
  --borderRadius: 12px;
  --primaryColor: #0095EB;
  --secondaryColor: #00446B;
  --tertaryColor: #47B1EE;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.red {
  background-color: red;
}

/* Hides all upload file buttons */
input[type="file"] {
  display: none;
}

/* Logo */
.logo-favourite {
  color: var(--secondaryColor)
}
.logo-monsters {
  color: var(--tertaryColor)
}
/* Logo end */

/* Login page start */
.login-container {
  display: flex;
  align-items: stretch;
  height: 75vh;
  border-radius: var(--borderRadius);
  overflow: hidden;
  border: 0.5px solid gray;
  box-shadow: 5px 5px;
}

.login-image {
  width: 50%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.login-image img {
  height: 100%;
}

.login-form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
}

.login-form-forgetpass {
  width: 100%;
  text-align: center;
}

.login-mt {
  margin-top: 0.5rem;
}

/* Login page end */
/* Monsters view */
.monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
  background-color: yellow;
}

  .monster img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

.monster-type {
  width: 5rem;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
  border: solid 2px gray;
  border-radius: var(--borderRadius);
}

.new-monster-con {
  display: flex;
}

.new-monster-img-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

.new-monster-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: var(--borderRadius);
  border: solid red 1px;
}

.team {
  height: 10rem;
  display: flex;
  align-items: center;
  border: solid 1px gray;
}

.monster-selection {
  width: 100%;
  s height: 10rem;
  display: flex;
  align-items: center;
  border: solid 1px gray;
}

  .monster-selection img {
    width: 8rem;
    height: 8rem;
  }

.monster-selected {
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px gray;
  border-radius: var(--borderRadius);
}

  .monster-selected img {
    height: 4rem;
    width: 4rem;
  }

.plus-selection {
}
