:root {
  --borderRadius: 12px;
  --primaryColor: #0095EB;
  --secondaryColor: #00446B;
  --tertaryColor: #47B1EE;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.red {
  background-color: red;
}

/* Hides all upload file buttons */
input[type="file"] {
  display: none;
}

/* Nav */
.nav-bar {
  background-color: rgba(71, 177, 238, 0.4);
}

.footer-bar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white !important;
}

  .footer-bar a {
    text-decoration: none;
    color: var(--tertaryColor) !important;
  }

/* Nav end */

/* Logo */
.logo-favourite {
  color: var(--secondaryColor)
}

.logo-monsters {
  color: var(--primaryColor)
}
/* Logo end */

/* Login page start */
.login-container {
  display: flex;
  align-items: stretch;
  height: 75vh;
  border-radius: var(--borderRadius);
  overflow: hidden;
  border: 0.5px solid gray;
  box-shadow: 5px 5px;
}

.login-image {
  width: 50%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

  .login-image img {
    height: 100%;
  }

.login-form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
}

.login-form-forgetpass {
  width: 100%;
  text-align: center;
}

.login-mt {
  margin-top: 0.5rem;
}

/* Login page end */

/* Monster creation */
.new-monster-con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.new-monster-img-con {
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius);
  overflow: hidden;
  box-shadow: 5px 5px;
}

.new-monster-img {
  height: 100%;
  object-fit: contain;
}

.monster-upload {
  position: absolute;
  transform: translate(70%, 350%);
  z-index: 1;
}

.monster-details-con {
  width: 60%;
}

.mons-name-con {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px;
}

.mons-create-name {
  width: 75%;
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: var(--secondaryColor);
}

  .mons-create-name::placeholder {
    color: white;
    opacity: 0.8;
  }

.mons-create-dropdown {
  width: 25%;
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: var(--primaryColor);
}

  .mons-create-dropdown option {
    width: 25%;
    color: black;
    background-color: white;
  }

.mons-stats-con {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(71, 177, 238, 0.5);
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px;
}

/* Monster creation end */

/* Monsters view */
.monsters-container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
}

.monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
  background-color: rgba(71, 177, 238, 0.2);
  box-shadow: 5px 5px;
}

  .monster img {
    width: 10rem;
    height: 10rem;
    object-fit: cover border-radius: var(--borderRadius);
  }

  .monster:hover {
    transform: translate(0, -2%);
    cursor: pointer;
  }

.monster-type {
  width: 5rem;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: white;
  border-radius: var(--borderRadius);
}

/* Monsters view end */

/* Monster team start */
.team {
  height: 10rem;
  display: flex;
  align-items: center;
  border: solid 1px gray;
}

@keyframes jumping {
  0% {
    transform: translate(0%, 0%)
  }

  50% {
    transform: translate(0%, -10%)
  }

  100% {
    transform: translate(0%, 0%)
  }
}

.monster-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px gray;
  padding: .5rem;
}

  .monster-selection img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
  }

  .monster-selection:hover {
    color: white;
    background-color: var(--secondaryColor);
  }

    .monster-selection:hover img {
      animation-name: jumping;
      animation-iteration-count: infinite;
      animation-duration: 0.45s;
      animation-timing-function: ease;
    }

.monster-selected-con {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: var(--borderRadius);
  background-color: var(--primaryColor);
}

.monster-selected {
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  border: none;
  border-radius: var(--borderRadius);
  background-color: white;
}

  .monster-selected:hover {
    color: white;
    background-color: var(--tertaryColor);
  }

  .monster-selected img {
    height: 4rem;
    width: 4rem;
  }

  .monster-selected:hover img {
    animation-name: jumping;
    animation-iteration-count: infinite;
    animation-duration: 0.45s;
    animation-timing-function: ease;
  }

.your-team {
  color: white;
  background-color: var(--secondaryColor)
}

.monster-list {
  height: 61.5vh;
  overflow-y: scroll;
}

.mons-info-con {
  display: flex;
  padding: 1rem;
  background-color: rgba(71, 177, 238, 0.4);
  box-shadow: 5px 5px;
}

.mons-info-img-con {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .mons-info-img-con:hover {
    background-color: var(--tertaryColor);
    border-radius: var(--borderRadius);
    cursor: pointer;
  }

  .mons-info-img-con img {
    width: 100%;
    object-fit: scale-down;
  }

.mons-detail-stats {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mons-info-chart {
  width: 100%;
}

rect {
  fill: var(--primaryColor);
}
/* Monster team end */
