@{
  var userId = ViewData["UserId"];
}

<div style="width: 100%; display: flex; align-items:center; justify-content: space-between">
  <h2>Create a new team</h2>
  <button onclick="handleSubmit()" class="btn btn-success">Confirm</button>
</div>

<hr />
<div class="container">
  <div class="row" style="background: blue">
    <div class="monster-selected-con">
      <div id="plus-selection" class="monster-selected">
        <i id="plus" class="bi bi-plus-lg" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col col-2 monster-selection-container red">
      <input style="width: 100%;padding: .5rem" />
      @foreach (var monster in ViewBag.monsters)
      {
        <button onclick="handleDetails('@monster["id"]')" class="monster-selection">
          <img src="@monster["url"]" />
          <div>@monster["name"]</div>
        </button>
      }
    </div>
    <div class="col col-10 red">
      <div class="mons-name-con">
        <div class="mons-create-name">Name</div>
        <div class="mons-create-dropdown">Type</div>
      </div>
      <div class="mons-info-con mt-2">
        <div class="mons-info-img-con">
          <img id="new-monster-image" src="~/images/no_image_square.jpg" alt="Monster Image" />
        </div>
        <div class="mons-detail-stats">stats</div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
  <script src="~/js/TeamCreate.js?v=7"></script>
}