@{

}

<h1>Create a new team</h1>

<hr />
<form asp-action="Create" method="Post">
    <div>
        <p>Monster 1</p>
        <input />
    </div>
    <div>
        <p>Monster 2</p>
        <input />
    </div>
    <div>
        <p>Monster 3</p>
        <input />
    </div>
    <div>
        <p>Monster 4</p>
        <input />
    </div>
    <div>
        <p>Monster 5</p>
        <input />
    </div>
    <div>
        <p>Monster 6</p>
        <input />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

    </script>
}