@model IEnumerable<FavouriteMons.Models.Teams>

@{
    List<int> numbers = new ();
    numbers.Add(1);
    numbers.Add(2);
    numbers.Add(3);
    numbers.Add(4);
}

<div>
    <div class="container d-flex flex-column">
        <a asp-controller="Teams" asp-action="Create">Create a team</a>
        @foreach (var num in numbers)
        {
           <div>@num</div>
        }
    </div>
</div>