<div style="width: 100%; display: flex; align-items:center; justify-content: space-between">
  <h2>Your teams</h2>
  <a class="btn btn-primary" asp-controller="Teams" asp-action="Create">Create a team</a>
</div>

<hr />

@{
  List<int> numbers = new();
  numbers.Add(1);
}

<div class="col">
  @foreach (TeamDisplay team in ViewBag.teamDisplayList)
  {
    <div class="row">
      <div>@team.Id</div>
      <div>@team.CreatedAt</div>
      <div class="row row-cols-6">
        @foreach (Monsters monster in team.Monsters)
        {
          <div class="monster">
            <img src="@monster.ImageUrl" />
            <div>
              <strong>@monster.Name</strong>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
