<div style="width: 100%; display: flex; align-items:center; justify-content: space-between">
  <h2>Your teams</h2>
  <a class="btn btn-primary" asp-controller="Teams" asp-action="Create">Create a team</a>
</div>

<hr />

@{
  List<int> numbers = new();
  numbers.Add(1);
}

<div class="container">
  @foreach (TeamDisplay team in ViewBag.teamDisplayList)
  {
    <div class="row team-view-con">
      <div style="color:white"><strong>#@team.Id</strong></div>
      <div style="color:white">Created: @team.CreatedAt</div>
      <div class="team-view-row">
        @foreach (Monsters monster in team.Monsters)
        {
          <div class="team-view-item">
            <img src="@monster.ImageUrl" />
          </div>
        }
      </div>
    </div>
  }
</div>
