@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Assemble your favourite monsters...</h1>
    <h2 class="display-6">and share them with the world!</h2>
</div>
