@{
  ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">Assemble your favourite monsters...</h1>
  <h2 class="display-6">and share them with the world!</h2>
</div>
<h2>Monsters</h2>
<hr />
<h2>Teams</h2>
<hr />